@font-face {
    font-family: 'LatinaEssential-Medium';
    src: local('LatinaEssential-Medium'), url(./Fonts/LatinaEssential-Medium.otf) format('opentype');
}

body{
    background: radial-gradient(circle,#b7b7b6, #e3e3e2);
    font-family: 'LatinaEssential-Medium', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    margin-top: 200px;
    background: #fffefe;
    padding-bottom: 30px;
    border-radius: 30px;
    border: 5px solid #e5e5e5;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}
.text{
    color: black;
    font-size: 2rem;
    font-weight: 500;
}
.inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 50px;
    background-color: #fffefe;
    border-radius: 5px;
    border: 1.5px solid gray;

}
.input img{
    margin: 0 30px;
}
.input input{
    height: 20px;
    width: 400px;
    border: none;
    outline: none;
    font-size: 1rem;
}
.forgot-password{
    padding-right: 255px;
    margin-top: 20px;
    font-size: 1rem;
}
.forgot-password span{
    cursor: pointer;
    color: solid black;
    font-weight: bold;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 20px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background: black;
    color: white;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
}
.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.altLogin{
    margin-bottom: 20px;
}
.icons{
}
.icons img{
    margin-right: 30px;
    cursor: pointer;
}